.category-container {
    display: flex;
    gap: 20px;

    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background-color: #1a1d20;
}

.left-column {
    flex: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.right-column {
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
}

/* Media query for small screens */
@media screen and (max-width: 768px) {
    .category-container {
        flex-direction: column; /* Stack divs vertically */
        height: auto; /* Adjust height for content */
    }

    .left-column,
 .right-column {
 flex: 1; /* Allow columns to take full width */
 height: auto; /* Adjust height for content */
    }
}