.items-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: calc(100vh - 5rem);
    box-sizing: border-box;
    background-color: #1a1d20;
}

.left-column {
    flex: 0.7;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.right-column {
    flex: 0.3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;    height: auto;
    height: 100%;
    box-sizing: border-box;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .items-container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        height: auto;
    }

    .left-column,
    .right-column {
        flex: 1;
    }

    .right-column {
        height: 50%; /* Adjust height for small devices */
    }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
    .right-column {
        height: 50%; /* Adjust height for medium devices */
    }
}

.items-container.text-light {
 color: #f8f9fa; /* This ensures the text is light, adjust as needed */
}